.blue {
    background: blue;
    color: wheat;
}
#block {
    background-color: #bca;
    width: 100px;
    height: 40px;
    border: 1px solid green;
}
body{
    font-size: 2em;
    background: beige;
}
button{
    font-size: 1em;
}